/************************/
/***   Text styling   ***/
/************************/
body{
	margin: 0;
}
section{
	overflow: auto;
}
/*Masthead text*/
#mastheadText{
	color: white;
	position: absolute;
	bottom: 10em;
	z-index: 100;
	font-size: 2em;
	width: 100%;
	text-align: center;
}
/*Site header styling*/
.bodyText{
	position: relative;
	top: 50px;
	width: 95%;
	margin: 0 auto;
}
.sectionHeading{
	text-align: center;
	font-size: 2.5em;
}
.project{
	height: 100%;
	clear: both;
}
.projectText{
	width:60%;
	position: relative;
	float: right;
}
.projectText>h2{
	margin-top: 3px;
}
#contactMeLinks{
	text-align: center;
}
#contactMeLinks>a{
	color:black;
}
#contactMeLinks>a:hover{
	color:gray;
}
/************************/
/*Navigation bar styling*/
/************************/
#navbarWhole{
	height: 3em;
	color: black;
	position: fixed;
	z-index: 100;
	top: 0;
	width:100%;
	background: white;
}
#nameMain{
	font-size: 2.5em;
	position: relative;
	float: left;
	width: 40%;
	height: 100%;
	padding: 5px;
}
#rightNav{
	position: relative;
	float: right;
	width:55%;
	height: 100%;
}
nav{
	width: 100%;
	position:absolute;
	top: 35%;
	text-align: right;
}
nav>a{
	vertical-align: middle;
	text-decoration: none;
	color:black;
	font-size: 1.3em;
}
nav>a:hover{
	color: blue;
}
a.anchor{
	display: block;
	position: relative;
	top: -3em;
	visibility: hidden;
}
/***************/
/*Image styling*/
/***************/
#masthead{
	background-image: url('../images/background-images/laptop-on-wooden-table-notebook-coffee.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 650px;
	background-position: center;
	/*position: relative;*/ /*Relative so that I can position my picture abswith absolute*/
	/*top: 50px;*/	
}
#mastheadCover{
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: gray;
}
#mypicture{
	background-size: cover;
	background-repeat: no-repeat;
	height: 10em;
	width: 10em;
	border-radius: 10%;
	display: inline-block;
	float: left;
	margin-right: 10px;
}
#middleImage{
	background-image: url('../images/background-images/bicycle-window-work-sign.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 650px;
	position: relative; /*Relative so that I can position my picture abswith absolute*/
	top: 50px;
	background-position: center;
}
#middleImage2{
	background-image: url('../images/background-images/computer-man-working-hand-on-mouse.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 600px;
	position: relative; /*Relative so that I can position my picture abswith absolute*/
	top: 50px;
	background-position: center;
}
#middleImage3{
	background-image: url('../images/background-images/typewriter.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 600px;
	position: relative; /*Relative so that I can position my picture abswith absolute*/
	top: 50px;
	background-position: center;
}
.projectImage{
	opacity: 1;
	transition: opacity .25s ease-in-out;
	height: 200px;
	width: 30%;
	display: inline-block;
	float: left;
}
.projectImage:hover{
	opacity: 0.5;
}
.projectImageHoverText{
	height: 100%;
	z-index: 100;
}
.projectImageHoverText:hover{
	display: block;
}
#project01Image{
	background-image: url('../images/Tic-tac-toe-screenshot.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
}
#project02Image{
	background-image: url('../images/Dog-status-screenshot.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
}
#project03Image{
	background-image: url('../images/LocalWyze-screenshot.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
}
#project04Image{
	background-image: url('../images/OfferUp-screenshot.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
}